.main-video {
  //position: absolute;
  //height: 100%;
  //width: 100%;
  //overflow: hidden;
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  overflow: hidden;
}

.main-video video {
  //min-width: 100%;
  //min-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
}
