#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: center;
    background-color: transparent;
    z-index: 2;
}

#toolbar {
  display:inline-block;
  position:relative;
  top:5px;
  margin-left:auto;
  margin-right:auto;
  height:38px;
  width:auto;
  min-width: 260px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 3px;
  pointer-events: auto;
  text-align: center;
}

#toolbar .button {
    display: inline-block;
    position: relative;
    color: #FFFFFF;
    top:0px;
    padding-top: 7px;
    width: 38px;
    height: 38px;
    cursor: pointer;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,.3), 0 -1px 0 rgba(0,0,0,.6);
    //z-index: 1;
    font-size: 1.25em !important;
    vertical-align: middle;
}

#toolbar .button:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1px;
  -webkit-border-radius: 1px;
}
