body {
  font-family: Arial;
  font-size: 14px;
  background-color: gray;
}

/*#main_container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
}*/

/*WORKING WITH OLD DESIGN*/
/*
.main_video {
  width: 100%;
  display: flex;
  background-color: transparent ;
}*/

/*.main_video {
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
background-color: gray;
}*/

.main_video {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


.main_video img {
  flex: 1;
}

/*.footer {
  flex: initial;
  height: 290px;
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-content: flex-end;
  background-color: white;
  margin-bottom: -80px;
}*/

.footer {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 140px;
  background-color: transparent;
  margin-left: 10px;

}

.footer video {
  max-width: 160px;
}

/*.footer .remoteVideos video {
  margin-right: 50px;
}*/

.localVideo {
  /*align-self: flex-start;*/
  flex: initial;
  width: 160px;
  height: 120px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin-top: 0px;
  /*padding: 4px;*/
  margin-right: 0px;
}

.localVideo .localGrid {
  /* just in case screen gets too small */
  flex-wrap: nowrap;
  overflow-x: hidden;
  display: flex;
  flex: 1;
}

.localVideo .localGrid img {
  height: 100%;
  width: 100%;
}

.remoteVideos {
  /*display: flex; /*this removes the bar right below*/*/
  /*margin-left: 10px;*/
  height: 140px;
  /*display: flex;
  justify-content: flex-start;*/
  background-color: transparent;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  margin-top: 0px;
  margin-left: 4px;
}

::-webkit-scrollbar {
  margin-top: -10px;
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px black;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    opacity: 0.4;
}

/* Handle */
::-webkit-scrollbar-thumb {
    opacity: 0.4;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background: rgb(0, 188, 212);
    -webkit-box-shadow: inset 0 0 10px gray;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgb(0, 188, 212);
}
