.horizontal-box {
  display: flex;
  opacity: 1;
  min-width: 160px;
  /*border: 2px solid white;*/
}

.horizontal-box:hover {
  box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}


.horizontal-box video {
  transition: all 0.1s ease;
}

.horizontal-box video:hover {
    opacity: 0.8;
}
