.horizontal-box {
  display: flex;
  opacity: 1;
  /*border: 2px solid white;*/
}

.horizontal-box:hover {

}


.horizontal-box video {
  transition: all 0.1s ease;
}

.horizontal-box video:hover {
    opacity: 0.9;
}
